<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiong.security.mapper.RolePermissionMapper">

    <resultMap id="BaseResultMap" type="com.xiong.security.entity.RolePermission">
            <result property="roleId" column="role_Id" jdbcType="BIGINT"/>
            <result property="permissionId" column="permission_Id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        role_Id,permission_Id
    </sql>
</mapper>
