<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiong.security.mapper.RoleMapper">

    <resultMap id="BaseResultMap" type="com.xiong.security.entity.Role">
            <id property="roleId" column="role_id" jdbcType="VARCHAR"/>
            <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
            <result property="nameZh" column="name_zh" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        role_id,role_name,name_zh
    </sql>
    <select id="getRoleListByUid" resultType="java.lang.String">
        SELECT
            r.role_name
        FROM
            t_user u
                LEFT JOIN t_user_role ur ON u.user_id = ur.uid
                LEFT JOIN t_role r ON ur.rid = r.role_id
                where u.user_id='1'
    </select>
</mapper>
